html {
    background-color: #ffffff !important
}

*:not(i) {
    font-family: 'PlanetSide2', serif !important;
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'PlanetSide2', serif !important;
    font-style: normal;
    font-weight: 400;
    background-color: #ffffff !important
}

@font-face {
    font-family: 'PlanetSide2';
    src: url('fonts/PlanetSide2/PlanetSide2.ttf') format('truetype');
}